<!-- Создание дохода/расхода -->
<div class="w-100 pt-1 pb-5">
	<div class="ms-5 mt-3 ps-3 pt-5 pe-5 pb-4">
		<div class="header-title mt-3 pt-3 pb-5 fs-1">Создание дохода/расхода</div>
		<main class="d-flex flex-column gap-3">


			<div class="input-placeholder w-25">
				<select title="Тип" class="input-placeholder form-control px-3 py-2">
					<option class="input-placeholder" value="1" selected>Доход</option>
					<option class="input-placeholder" value="2">Расход</option>
				</select>
			</div>

			<div class="input-placeholder w-25">
				<select title="Категория" class="input-placeholder form-control px-3 py-2">
					<option class="input-placeholder" value="1" selected>Депозиты</option>
					<option class="input-placeholder" value="2">Зарплата</option>
					<option class="input-placeholder" value="3">Сбережения</option>
					<option class="input-placeholder" value="4">Инвестиции</option>
				</select>
			</div>

			<div class="input-group mb-2 w-25">
				<input type="number" class="form-control px-3 w-25" placeholder="Сумма в $..." aria-label="name"
					aria-describedby="basic-addon1">
			</div>

			<div class="input-group mb-2 w-25">
				<input type="date" class="form-control px-3 w-25" placeholder="Дата..." aria-label="name"
					aria-describedby="basic-addon1">
			</div>

			<div class="input-group mb-2 w-25">
				<input type="text" class="form-control px-3 w-25" placeholder="Комментарий..." aria-label="name"
					aria-describedby="basic-addon1">
			</div>

			<div>
				<button type="button" class="btn btn-success me-2 font-little w-auto">Создать</button>
				<button type="button" class="btn btn-danger font-little">Отмена</button>
			</div>

		</main>
	</div>
</div>