
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="d-flex align-items-center text-center flex-column">

      <div class="login-logo text-center mb-2 pb-1">
        <a href="javascript:void(0)"><img src="../images/logo.svg" alt="Логотип"></a>
      </div>
      <div class="login-title pt-5 text-center fs-1 mb-2">Вход</div>
      <div class="login-block pt-1 w-100">
        <div class="card-body login-card-body">
          <div id="common-error" class="error invalid-feedback text-center mb-3">Неправильный email или пароль
          </div>
          <form>

            <div class="login-input input-group mb-2">
              <span class="input-group-text"><img src="../images/letter.svg" alt="Letter"></span>
              <input type="email" class="form-control text-secondary" placeholder="Электронная почта" id="email" value="">
              <span id="email-error" class="error invalid-feedback">Введите корректный E-mail</span>
            </div>

            <div class="login-input input-group mb-2">
              <span class="input-group-text"><img src="../images/lock.svg" alt="Lock"></span>
              <input type="password" class="form-control text-secondary" placeholder="Пароль" id="password">
              <span id="password-error" class="error invalid-feedback">Заполните пароль</span>
            </div>

            <div class="login-remember col-12 text-start mb-2">
              <div class="icheck-primary d-flex">
                <input class="me-2" type="checkbox" id="remember-me">
                <label for="remember-me">
                  Запомнить меня
                </label>
              </div>
            </div>

            <div class="row mb-3">
              <div class="login-button">
                <div class="col-12">
                  <button type="button" class="btn btn-primary btn-block w-100" id="process-button">Войти</button>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>

      <div class="roboto12 align-self-baseline login-account social-auth-links text-center mb-3">
        <p>
          <span>Ещё нет аккаунта?</span>
          <a href="#/signup">
            Пройдите регистрацию
          </a>
        </p>
      </div>

    </div>
  </div>
